.star-rating {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
}
.star-rating .star-rating__current {
    position: absolute;
    top: 0;
    overflow: hidden;
}
.review_sec {
    padding: 50px 0;
}
.review_sec .our_reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.review_sec .our_reviews .our_reviews_wrap {
    width: calc(33.33% - 50px / 3 );
    background: #FAFAFA;
    border-radius: 10px;
    padding: 35px;
    text-align: center;
}
.review_sec .our_reviews .our_reviews_wrap p {
    font-size: 14px;
    color: #82849C;
}
.review_sec .our_reviews .our_reviews_wrap h4 {
    color: #1E306E;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    margin-bottom: 20px;
}
.star-rating span {
    font-size: 23px;
    color: #FCD430;
    line-height: 1px;
}
.review_sec .heading-h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
      margin: 0;
    margin-bottom: 30px;
}
.see_all_wrap{
  text-align:center;
  margin-top:20px;
}
.see_all_link {
    color: #1E3776;
    font-size: 14px;
    text-decoration-line: underline;
}
.our_customers_main {
    margin-top: 30px;
}
@media screen and (max-width:767px){
    .review_sec .our_reviews {
        flex-direction: column;
        gap: 20px;
        padding: 0 25px;
    }
    .review_sec .our_reviews .our_reviews_wrap {
        width: 100%;
        padding: 30px;
    }
    .review_sec .heading-h2 {
        font-size: 28px;
        padding: 0 25px;
    }
    .review_sec {
        padding: 40px 0;
    }
    .our_customers_main {
          margin-top: 20px;
      }
}