:root {
    /* Font Families */
    --font-family-primary: "Poppins", sans-serif;
    --font-family-secondary:"Plus Jakarta Sans", sans-serif ;
    --font-family-accent: "DM Sans", sans-serif;
    --font-family-body:  "Sofia Sans", sans-serif;
   
    /* Font Sizes */
  --font-size-heading: 56px;
  --font-size-secondary: 50px;
  --font-size-accent: 38px;
  --font-size-third: 43px;
  --font-size-primary-body: 24px;
  --font-size-secondry-body: 22px;
  --font-size-accent-body: 20px;
  --font-size-third-body: 18px;
  --font-size-four-body: 16px;
  --font-size-body: 14px;
  --font-size-sub-body: 12.27px;
    
  /* Line height */
  --line-height-primary: 72px;
  --line-height-secondary: 68px;
  --line-height-accent: 60px;
  --line-height-third: 56px;
  --line-height-four: 32px;
  --line-height-body: 24px;
  
    /* Colors */
    --color-primary: #1E306E;
    --color-secondary: #ffffff;
    --color-accent: ##0FAC50;
    --color-gradient: linear-gradient(180deg, #EBF4FF 0%, #FFFFFF 16.79%);
    --color-background: #FCD531;
    --color-text:#82849C;
    --color-body:#717A79;
  

}
@media (max-width: 768px) {
 :root{
   /* Font Families */
    --font-size-heading: 28px; /* Reduced for mobile */
  --font-size-secondary: 28px; /* Reduced for mobile */
  --line-height-accent: 26px; /* Reduced for mobile */
  --font-size-third: 22px; /* Reduced for mobile */
   --font-size-primary-body: 14px;
     /* Line height */
  --line-height-primary: 31.9px;
  --line-height-secondary: 68px;
  --line-height-accent: 60px;
  --line-height-third: 56px;
   --line-height-four: 18px;
 }
}
.primary-heading{
    font-size: var(--font-size-heading);
    font-family: var(--font-family-primary);
    line-height: var(--line-height-primary);
    color: var(--color-primary);
    font-weight: 700;
}
.secondary-heading{
    font-size: var(--font-size-secondary);
    font-family: var(--font-family-secondary);
    line-height: var(--line-height-accent);
    color: var(--color-primary);
    font-weight: 700;
}
.bottom-heading{
    font-size: var(--font-size-accent);
    font-family: var(--font-family-primary);
    line-height: var(--line-height-secondary);
    color: var(--color-primary);
    font-weight: 500;
}
.Middle-heading{
    font-size: var(--font-size-third);
    font-family: var(--font-family-primary);
    line-height: var(--line-height-third);
    color: var(--color-primary);
    font-weight: 600;
}
.accent-text{
    font-size: var(--font-size-primary-body);
    font-family: var(--font-family-body);
    line-height: var(--line-height-four);
    color: var(--color-text);
    font-weight: 400;
}
.secondary-text{
    font-size: var(--font-size-primary-body);
    font-family: var(--font-family-accent);
    line-height: var(--line-height-four);
    color: var(--color-primary);
    font-weight: 500;
}
.second-text-body{
    font-size: var(--font-size-third-body);
    font-family: var(--font-family-primary);
    color: var(--color-text);
    font-weight: 500;
}
.body-text{
    font-size: var(--font-size-body);
    font-family: var(--font-family-accent);
    color: var(--color-text);
    font-weight: 400;
}
.btn-twist{
    font-size: var(--font-size-primary-body);
    font-family: var(--font-family-body);
    line-height: var(--line-height-four);
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-weight: 600;
    text-decoration: none;
}
.color-yellow{
    color: var(--color-background) !important;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* ======================== */
/* Feature Product  */
/* ======================== */
.card:not(.ratio){
border: none;
}
.card--card, .card--standard .card__inner{
  border: 3px solid #F0F0F0 !important;
  border-radius: 12px !important;
  background: #fff !important;

}
.card .card__inner .card__media{
  border-radius: 16px !important;
}
.card .card__heading{
  
  font-size: var(--font-size-body)  !important;
  font-weight: 600 !important;
  color:#1E306E !mportant ;
  
}
.card .caption-with-letter-spacing{
  font-family: var(--font-family-primary);
  font-size: var(--font-size-sub-body) !important;
  color: #AAAAAA !important;
}
.price--on-sale .price__sale {
    display: flex !important;
    flex-direction: row-reverse !important;
    gap: 10px;
}
.price__container s tc-money{
  font-size: 12px !important;
  font-weight: 400 !important;
  color : #E43639 !important; 
  font-family: var(--font-family-primary) !important;
}
.price-item--sale tc-money{
  font-size: 15px !important; 
  font-weight: 600 !important;
  color : #344AA9 !important; 
  font-family: var(--font-family-primary) !important;
}
.price-item--regular tc-money{
  font-size: 15px !important; 
  font-weight: 600 !important;
  color : #344AA9 !important; 
  font-family: var(--font-family-primary) !important;
}
.price--on-sale .price-item--regular{
  color : #E43639 !important;
}
.quick-add__submit.button{
  border-radius: 5px !important;
    font-size: var(--font-size-body) !important;
    font-family: var(--font-family-primary) !important;
    font-weight: 600;
}
.collection .collection__view-all a{
    border-radius: 54px !important;
    font-size: var(--font-size-primary-body) !important;
    font-family: var(--font-family-primary) !important;
    font-weight: 600;
    background: var(--primary-blue);
    color: #fff;
  padding: 16px 58px;
}
.collection .title{
  font-size: var(--font-size-third) !important;
  font-weight: 600;
  text-align: center;
  margin-bottom: 32px !important; 
}
.collection__view-all a::after{
  border-radius: 54px !important;
}
.collection .collection__title.title-wrapper{
  margin-bottom: 48px !important; 
}
.collection .page-width{
  padding: 0 !important;
}
@media (max-width:768px){
  .collection {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
}
/* ======================== */
/* Footer  */
/* ======================== */

.footer-block__details-content {
  font-size: var(--font-size-body) !important;
  font-weight: 500;
  font-family: var(--font-family-primary) !important;
  color: var(--color-text) !important;
}
.footer-block__heading{
   font-size: var(--font-size-four-body) !important;
   color: var(--color-primary) !important;
   font-weight: 600;
}